.btn {
  height: 2.8rem;
  border-radius: 8px;
  color: black;
  background-color: #FFFFFF;
}
.next {
  color: #FFFFFF;
  background-color: #F67599;
}

.btn[data-btn-off=true] {
  /* display: none; */
  visibility: hidden;
}