/* for dev */
.red {
  outline: 2px solid red;
}
.blue {
  outline: 2px solid blue;
}
.green {
  outline: 2px solid green;
}
.orange {
  outline: 2px solid orange;
}
.brown {
  outline: 2px solid brown;
}
/* for dev */