body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for dev */
.cr {
  outline: 3px solid red;
}

.cg {
  outline: 3px solid green;
}

.cb {
  outline: 3px solid blue
}

.co {
  outline: 3px solid orange;
}

.cd {
  outline: 3px solid black;
}